{% extends "dashboard/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Crademaster users
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Users</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">USDT</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">TRX</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Profit Percent</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Hours</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Wallet</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Referral Code</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Joined</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Edit</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Events</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Executes</th>
                      {% if request.user.email == "mobius.founder@gmail.com" %}
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Transfer</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                        <tr id="user-{{ user.id }}" data-address="{{ user.cm_wallet }}">
                          <td>
                              <a href="{% url 'user_update' user.id %}"><span class="text-info text-xs font-weight-bold">{{ user.email }}</span></a>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold usdt-balance"></span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold tron-balance"></span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold">{{ user.profit_percent }} %</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-secondary text-xs font-weight-bold">{{ user.calculate_total_execute|seconds_to_hms }}</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <a href="https://tronscan.org/#/address/{{user.cm_wallet}}" target="_blank"><span class="text-info text-xs font-weight-bold">{{ user.cm_wallet }}</span></a>
                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ user.referral_code }}</span>
                          </td>
                          <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ user.date_joined }}</span>
                          </td>
                          <td class="align-middle text-center">
                            <a href="{% url 'user_update' user.id %}" class="text-info font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit User">
                            Edit
                            </a>
                          </td>
                          <td class="align-middle text-center">
                            {% if user.events.count %}
                              <a href="{% url 'user_event_list' user.id %}" class="text-info font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Events">Events</a>
                            {% endif %}
                          </td>
                          <td class="align-middle text-center">
                            <a href="{% url 'execute_list' user.id %}" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Executes">
                            Executes
                            </a>
                          </td>
                          {% if request.user.email == "mobius.founder@gmail.com" %}
                            <td class="align-middle text-center">
                              <a href="{% url 'take_out_detail' user.id %}" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Take Out">
                                Take Out
                              </a>
                            </td>
                          {% endif %}
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% if is_paginated %}
                  <div class="pagination" style="padding: 10px;">
                    {% for num in page_obj.paginator.page_range %}
                      <a href="?page={{ num }}" class="page-link {% if num == page_obj.number %}active{% endif %}">
                        {{ num }}
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        async function fetchBalance(address) {
          try {
            const response = await fetch(`https://apilist.tronscan.org/api/account?address=${address}`);
            const data = await response.json();
            return data
          } catch (error) {
            console.error('Error fetching balance:', error);
            return null;
          }
        }
        
        async function updateUserBalances(userId, address) {
          const userRow = document.getElementById(`user-${userId}`);
          const usdtBalanceSpan = userRow.querySelector('.usdt-balance');
          const tronBalanceSpan = userRow.querySelector('.tron-balance');
          
          const data = await fetchBalance(address);

          const trxBalance = data.balances.find(balance => balance.tokenAbbr === 'trx');
          const trxAmount = trxBalance ? (parseInt(trxBalance.balance, 10) / 1_000_000).toFixed(2) : '0';

          const usdtBalance = data.trc20token_balances.find(balance => balance.tokenAbbr === 'USDT');
          const usdtAmount = usdtBalance ? (parseInt(usdtBalance.balance, 10) / 1_000_000).toFixed(2) : '0';

          if (data) {
            usdtBalanceSpan.textContent = usdtAmount || '0';
            tronBalanceSpan.textContent = trxAmount || '0';
          } else {
            usdtBalanceSpan.textContent = 'N/A';
            tronBalanceSpan.textContent = 'N/A';
          }
        }

        function fetchAllUserBalances() {
          const users = document.querySelectorAll('[data-address]');
          users.forEach((user, index) => {
            const userId = user.id.split('-')[1];
            const address = user.dataset.address;
            
            setTimeout(() => {
              updateUserBalances(userId, address);
            }, index * 1000);
          });
        }

        fetchAllUserBalances();
      </script>
{% endblock %}